// color vars
$primary-color: #1a237e;
$dark-primary-color: #0f1041;
$accent-color: #2962ff;

//common style
html,body{
  height: 100%;
  background: #e0e0e0;
  font-family:sans-serif;
  font-size:14px;
}
#wrap{
  width: 100%;
  max-width:1000px;
  margin:0 auto 60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}
//layout
.input{
  &::before{
    content:'';
    display:block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 300px;
    background: $dark-primary-color;
  }

  &-header{
    position: relative;
    padding-top:50px;
    color: #fff;
    h1{
      padding-bottom:25px;
      font-size:3.00em;
      font-weight:100;
    }
  }
  
  &-content{
    position: relative;
    padding:20px 55px;
    background: #fff;
    
    h2{
      padding-bottom:10px;
      font-size:1.5em;
      font-weight:bold;
      color: $dark-primary-color;
      vertical-align: middle;
    }
    .inputbox{
      overflow: hidden;
      position: relative;
      padding-bottom:28px;
      &-title{
        position: absolute;
        top:15px;
        left: 0;
        width: 200px;
        height: 30px;
        color: #666;
        font-weight: bold;
        line-height: 30px;
      }
      &-content{
        position: relative;
        width: 100%;
        input{
          width: 100%;
          height: 30px;
          box-sizing: border-box;
          line-height: 30px;
          font-size:14px;
          border:0;
          background: none;
          border-bottom:1px solid #ccc;
          outline:none;
          border-radius: 0;
          -webkit-appearance: none;
          &:focus,&:valid{
            &~label{
              color: $accent-color;
              transform: translateY(-20px);
              font-size:0.825em;
              cursor:default;
            }
          }
          &:focus{
            &~.underline{
              width: 100%;
            }
          }
        }
        label{
          position: absolute;
          top:0;
          left:0;
          height: 30px;
          line-height: 30px;
          color:#ccc;
          cursor:text;
          transition: all 200ms ease-out;
        }
        .underline{
          content:'';
          display: block;
          position: absolute;
          bottom:-1px;
          left:0;
          width: 0;
          height: 2px;
          background: $accent-color;
          transition: all 200ms ease-out;
        }
      }
    }
          
       .btn{
        display:inline-block;
        margin-right:2px;
        padding: 10px 25px;
        background: $accent-color;
        border:1px solid $accent-color;
        border-radius:2px;
        color: #fff;
        font-size:1.125em;
        outline:none;
        transition: all 100ms ease-out;
        &:hover,&:focus{
          transform: translateY(-3px);
        }   
        &:disabled,
        button[disabled]{
          border: 1px solid #999999;
          background-color: #cccccc;
          color: #666666;
        } 
        
      }       
  }
}
.loading-spinner-container {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: inherit;
}

.loading-spinner-with-text {
  align-self: center;

  .spinner-inner-text {
    position:relative; 
    top: -60px; 
    left: 20px;
  }
}
